
<div class="container">
    <div class="row">

        
<h1>Burgers!</h1>

<div class="col-md-6">

    <div class="uneaten">
        <h2>Burgers that are not eaten!</h2>

        <ol>
        {{#each burgers}}
            {{#unless devoured}}
            <li>
            {{burger_name}}

            {{!-- {{> burgers/burger-block devoured=true}} --}}
            <button class="eat-burger" data-id="{{id}}" 
            {{!-- data-newEat="{{devoured}}"  --}}
            >
                EAT THE BURGER!
            </button>
            </li>
            {{/unless}}
        {{/each}}
        </ol>
    </div>

    </div>

<div class="col-md-6">
    <div class="eaten">
        <h2>Burgers that are eaten!</h2>

        <ol>
        {{#each burgers}}
            {{#if devoured}}
            <li>
            {{burger_name}}
            </li>

            {{!-- {{> burgers/burger-block devoured=false}} --}}
            {{/if}}
        {{/each}}
        </ol>
    </div>
    </div>
{{!-- close the row --}}
    </div>

<div class="col-md-6 col-md-offset-3">
    <div class="add-new">
        <h2>Add a Burger</h2>
        <form class="create-form">

        <div class="form-group">
            <label for="bu">Burger Name:</label>
            <input type="text" id="bu" name="name">
        </div>



        <button type="submit">Add Burger</button>
        </form>
    </div>
    </div>


</div> 
