<h1>Burgers!</h1>

<h2>Burgers that are not eaten!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
    <li>
    {{burger_name}}

      {{!-- {{> burgers/burger-block devoured=true}} --}}
      <button class="eat-burger" data-id="{{id}}" 
    {{!-- data-newEat="{{devoured}}"  --}}
    >
		EAT THE BURGER!
	</button>
    </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are eaten!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
    <li>
    {{burger_name}}
    </li>

      {{!-- {{> burgers/burger-block devoured=false}} --}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bu">Burger Name:</label>
    <input type="text" id="bu" name="name">
  </div>



  <button type="submit">Add Burger</button>
</form>
