
body{
    background: url("../images/hand-drawn-hamburger-wallpaper.png");
    /* height: 10%; */
    /*opacity: .2;*/
    /* background-size: 250px; */
    /* background-color: orange; */
     /*opacity:0.4; */

    
    /* opacity: 0.4; */
	height: 100%; 
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color:white;
}

.container{
    
    /*background-color: orange;*/
    
  /*background: rgba(76, 175, 80, 0.3) */
    
    
} 

/* .uneaten{
    position:relative;

}

.eaten{
    position:absolute;
    top: 0;
    left: 60%;
} */

#title{
  font-family: 'Risque', cursive;
  text-align:center;
  font-size: 100px;
  /*background: rgba(250,235,215, 0.8);*/
  width:500px;
  /*background: rgba(250,235,215, 0.5);*/
  /*(245, 245, 220)*/
  /*background: rgba(245, 245, 220, 0.5);*/
  color:navy;
  text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;

}

h1{
   
   
}

p{
  font-size: 18px;
}

p, h2, .add-new {

  padding: 5px;
  margin: 5px;
  /*background: rgba(0,0,0, 0.4);*/
  color:black;
  text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
  /*background: #faebd7;*/
  width: 300px;
  font-weight: bold;
  /* float:left; */
  /* clear:both; */
}

.label {
  font-weight: bold;
}

.create-form {
  padding: 5px;
  margin: 5px;
  
}

.form-group {
  margin-bottom: 5px;
}
